body {
    margin: 0;
    overflow: hidden;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  #audio {
    position: absolute;
    bottom: 20px;
    width: 300px;
    z-index: 2;
  }
  
  #container {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  